<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>studyDjango</title>
</head>
<body>
    <header>
        <img src="{% static 'banner.jpg' %}" alt="banner" style="margin-top: 20px;">
        <p></p>
    </header>
    <nav>
        <ul class="container">
            <li> <a href="/">Homepage</a></li>
            <li> <a href="about"> About</a></li>
            <li><p>Beginner Projects</p></li>
            <li><p>Intermediate Projects</p></li>
            <li><p>Advanced Projects</p></li>
            {% if user.is_authenticated %}
                <li><p>Welcome, {{ user.username }}!</p></li>
                <li><a href="logout">Logout</a></li>
                <li><a href="admin">Admin Page</a></li>
            {% else %}
                <li><p>You are not logged in.</p></li>
                <li><a href="login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content%}
        {% endblock %}
    </main>
    <footer>
        <p>Copyright Mirko V. - studyDjango</p>
    </footer>
</body>
</html>