{% extends 'base.html'%}
{% block content%}

<div class = "homepageGrid">
    <article class = "box a">
        <h3>APIs</h3>
        <p>APIs are a crucial part of the back-end developer study course because they allow client-server communication, or you could say frontend and backend.</p>
        <p></p>
    </article>
    <article class = "box b">
        <h3>MySQL - Relational Database</h3>
        <p>SQL stands for structured query language. <br> MySql is a database service based on relational databases.</p>
    </article>
    <article class = "box c">
        <h3>Django Framework</h3>
        <p>Django is a complete back-end Framework, based on python, that allows backend developer for a faster application thanks to prewritten code.</p>
    </article>
    <article class = "box d">
        <h3>HTML</h3>
        <p>HTML stands for HyperText Markup Language, and it's used to build the rules and foundation of your frontend website.</p>
    </article>
    <article class = "box e">
        <h3>CSS</h3>
        <p>CSS stands for Cascading Style Sheet, and it's used to style and organized the aesthetic of your frontend website.</p>
    </article>
    <article class = "box f">
        <h3>Javascript</h3>
        <p>Javascript allow frontend developers to add functionality and dynamicity to websites.</p>
    </article>
</div>

{% endblock %}